<div class="row" ng-init="getSpiff()">
    <pre>
        {{myName}}
        {{dealers}}
    </pre>
    <div class="panel panel-primary">
        <div class="panel-heading">SPIFF</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 pull-left">
                    Filter by Dealer Rep :
                    <select ng-model="query" class="selectpicker" data-live-search="true">
                        <option  value="">Select Dealer Rep</option>
                        <option  ng-repeat="dealer in dealers"  ng-class="setCSS(dealer.isBankInfoExists,dealer.isW9InfoExists,dealer.isContactInfoExists,$index)" class="font-family:verdana;" data-select-watcher data-last="{{$last}}" value="{{dealer.firstName}} {{dealer.lastName}}"> &nbsp;{{dealer.firstName}} {{dealer.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:10px;">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Registration Id</th>
                        <th>Facility/Customer</th>
                        <th>Invoice #</th>
                        <th>Dealer Rep</th>
                        <th>Install Date</th>
                        <th>SPIFF $</th>
                        <th>Selected</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="spiff in getSpiffDealers | filter:search">
                        <td>
                            <span class="pull-left" ng-class="setSPIFF(spiff.isBankInfoExists,spiff.isW9InfoExists,spiff.isContactInfoExists)" style="color:orange;">&nbsp</span>

                            <span class="pull-left"  ng-class="setS(spiff.bankInfoExists,spiff.w9InfoExists,spiff.contactInfoExists,spiff.invoiceUrl)" style="color:orange;">&nbsp</span>

                            <span   ng-if="isMissingInfo" class="glyphicon glyphicon-edit pull-right" aria-hidden="true" style="color: #006496;cursor:pointer;" ng-click="open_modal(spiff)"></span>

                            <span  ng-if="!isMissingInfo" class="glyphicon glyphicon-ok-circle pull-right" aria-hidden="true" style="color: green;cursor:pointer;"></span>
                        </td>
                        <td>{{spiff.partnerSaleRegistrationId}}</td>
                        <td>{{spiff.facilityName}}</td>
                        <td ng-if="spiff.invoiceUrl" ><a href="{{spiff.invoiceUrl}}" target="_blank" >{{spiff.invoiceNumber}}</a></td>
                        <td ng-if="!spiff.invoiceUrl" >{{spiff.invoiceNumber}}</td>
                        <td>{{spiff.firstName}} {{spiff.lastName}}</td>
                        <td>{{spiff.installDate}}</td>
                        <td>${{spiff.spiffAmount}}</td>
                        <td ><input type="checkbox" ng-click="CheckedDealer(spiff)" ng-disabled="clicked"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-sm-6">
                <button type="button" class="btn btn-primary" ng-click=saveEntitlements()>submit</button>
                <button type="button" class="btn btn-default" ng-click="cancel_submit()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').selectpicker();
    });
</script>